<!DOCTYPE html>
<html>
  <head>
    <script
    src="https://kit.fontawesome.com/c91808f2e8.js"
    crossorigin="anonymous"
  ></script>
  </head>
  <body>
    <div class="fullcontent">
      <div class="headings">
        <h1>Lists of events</h1>
        <h2>Welcome to the events Lists.</h2>
      </div>
      <div class="formbox1">
        <form id="form1" action="/remarks/<%= remark.id%>/edit" method="post">
          <label for="">title</label>
          <input
            type="text"
            name="title"
            class="asd"
            value="<%= remark.title%>"
          />
          <label for="">author</label>
          <input
            type="text"
            name="author"
            class="asd"
            value="<%= remark.author%>"
          />

          <input
            id="btn"
            type="submit"
            name="submit"
            value="Update remark "
            class="mainbox"
          />
        </form>
      </div>
    </div>
  </body>
</html>